{% extends 'base.html.twig' %}

{% block title %}Idées recettes{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-3"></div>
      <h3>Filtrer</h3>
      {{ form(form) }}
    <div class="col-md-9">
      
      <h3>Les recettes</h3>

      <section>
        <div class="row recipe-container">
            {% for recipe in recipes %}
              <div class="col-md-4">
              <div class="recipe-item text-center">
                <a href="{{ path('app_recipes', { 'slug' : recipes.slug }) }}"><img src="/images/{{ recipes.illustration }}" alt="{{ recipes.title }}" class="img-fluid"></a>
                <h5>{{ recipes.title }}</h5>
                <span>{{ recipes.description }}</span>
              </div>
        </div>

      {% endfor %}
    </div>
  </section>
    </div>
  </div>


{% endblock %}
