{% extends 'base.html.twig' %}

{% block title %}{{ recipes.title }}{% endblock %}

{% block body %}

  <h3>{{ recipes.title }}</h3>
    
<section>

  <div class="row">
      <div class="col-md-5">
        <img src="/images/{{ recipes.illustration }}" alt="{{ recipes.title }}" class="img-fluid">
      </div>
      <div class="col-md-7 my-auto">

        <h3>{{ recipes.title }}</h3>
        <p>{{ recipes.description }}</p>
        <hr>
        <p>{{ recipes.preparationTime }}</p>
        <hr>
        <p>{{ recipes.Timeout }}</p>
        <hr>
        <p>{{ recipes.cookingTime }}</p>
        <hr>
        <p>{{ recipes.ingredients }}</p>
        <hr>
        <sp>{{ recipes.stage }}</p>

      </div>
  </div>
        

</section>


{% endblock %}
